.env
.env.*
!.env.example

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
.vite

.DS_Store
Thumbs.db
client/node_modules
server/node_modules
server/.env
server/package-lock.json
